<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>App</title>

        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/antd/3.2.0/antd.min.css" />

        <style>
            .ant-row > * {
                padding-top: 8px;
                padding-bottom: 8px;
            }
        </style>
    </head>
    <body>
        <div id="app"></div>
        <script src="{{ asset('build/app.js') }}"></script>
    </body>
</html>
